@import "style.css";
#main{padding:10px 0 30px 0;}#main h1,#main h2,#main h3,#main h4,#main h5,#main h6{color:#3781bb;margin:15px 0 20px 0;font-weight:normal;text-decoration:underline;}
#main p,#main blockquote{margin-bottom:12px;}
#main ul li,#main ol li,#main dl dd{padding:3px;}
#main ul li{list-style-type:disc;list-style-position:inside;}
#main ol li{list-style-type:decimal;list-style-position:inside;}
#main ol ul li{list-style-type:disc;}
#main ul,#main ol,#main dl{margin-bottom:25px;}#main ul ul,#main ol ul,#main dl ul,#main ul ol,#main ol ol,#main dl ol,#main ul dl,#main ol dl,#main dl dl{margin-bottom:0;margin-left:15px;}
#main dl dt{font-weight:bold;}
#main dl dd{padding-left:15px;}
#main dl ol,#main dl ul{margin-left:0;}
#main h1{font-size:36px;border-bottom:2px solid #3781bb;text-decoration:none;}
#main h2{font-size:28px;}
#main h3{font-size:24px;}
#main h4{font-size:18px;}
#main h5{font-size:16px;}
#main h6{font-size:14px;}
#main table{border:2px solid #666;}#main table td{border:1px solid #999;}
#main table td,#main table th{padding:3px 5px;}
#main table th{color:#3781bb;text-align:center;font-weight:bold;text-transform:uppercase;border:1px solid #999;border-bottom:2px solid #666;}
#main table caption{font-style:italic;color:#867f6a;}
#main blockquote{padding-left:60px;padding-right:60px;font-style:italic;font-size:1.2em;}
body{font:14px/1.27em helvetica,verdana,arial,sans-serif;color:#4d493d;}
body{background:#f7f7f3;}
.container{padding-top:30px;}
header,footer{background:#262626;color:#e8e8e8;}
#intro,#secondary{border-bottom:2px solid #8098a9;}
#secondary .featured_item{border:2px solid #b5d0e3;zoom:1;}#secondary .featured_item:before{content:"\0020";display:block;height:0;visibility:hidden;}
#secondary .featured_item:after{clear:both;}
#secondary .featured_item img{float:right;}
#logo p{text-indent:-999px;}
nav ul li{display:inline-block;float:left;padding:20px;}
.clearfix:before{content:"\0020";display:block;height:0;visibility:hidden;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
